
.social-media-list {
    margin: 50px auto 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.social-media-item {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px 0;
}

.social-media-item:hover {
    color: #F08CAE;
}

.social-media-item i {
    margin-right: 15px;
    font-size: 1.5em;
}

.social-media-item:not(:last-child) {
    margin-bottom: 10px;
}
.contact-list-item {
    margin: 50px 60px 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-item {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px 0;
}
.location{
    max-height: 500px;
    width: 100%;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    }

    .wrapper{
    position: relative;
    top: 30%;
    left: 45%;
    transform: translate(-50%,6%);
    max-width: 500px;
    width: 100%;
    background: rgb(244, 239, 239);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254,236,164,1); 
    }

    .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
    }

    .wrapper .input_field{
    margin-bottom: 10px;
    }

    .wrapper .input_field input[type="text"],
    .wrapper textarea{
    border: 1px solid #121212;
    width: 100%;
    padding: 10px;
    }

    .wrapper textarea{
    resize: none;
    height: 80px;
    }

    .wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #F08CAE;
    color: #322777;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    
    }
    .btn i:hover{
        font-size: 2em;
        padding: 2px 5px ;


        
    }

    #error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    }
    .black {
        color: #000000;
    }
